= render partial: '/accounts/section_nav', locals: { account: @account }

= simple_form_for :message, method: :patch, url: account_message_path(@account, @message) do |f|
  = f.input :name, as: :string
  = f.input :content, as: :string
  = f.button :submit, t('forms.save')
