= render partial: '/accounts/section_nav', locals: { account: @account }

= simple_form_for :message, url: account_messages_path(@account) do |f|
  = f.input :name, as: :string
  = f.input :content, as: :text
  = f.button :submit, t('forms.save'), class: 'btn btn-primary btn-small'
